:root{
    --backgroundColor:rgb(187, 109, 255);
    --backgroundColorCharge:rgb(255, 165, 0);
    --backgroundColorHidden:rgba(168, 69, 255, 0.709);
    --color:rgb(187, 109, 255);
    --colorRed:rgb(180, 0, 0);
    --colorGreen:rgb(0, 255, 0);
    --colorYellow:rgb(255, 255, 0);
    --colorOrange:orange;
    --colorBlue:rgb(0, 166, 255);
    --colorDisable:rgba(140, 140, 140, 0.353);
}

.batery{
    width: 35vw;
    max-width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  }

.rectangleActive{
    width: 8vw;
    height: 4vh;
    
    border-radius: .1rem ;
    
    margin-bottom: .2rem;
}

.rectangleActiveCharge{
    width: 8vw;
    height: 4vh;
    background: var(--colorOrange);
    border-radius: .1rem ;
    margin-bottom: .2rem;

    animation-name: parpadear;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.green{
    background: var(--colorGreen);
}

.yellow{
    background: var(--colorYellow);
}

.orange{
    background: var(--colorOrange);
}

.red{
    background: var(--colorRed);
}
@keyframes parpadear {
    0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
.rectangleHidden{
    width: 8vw;
    height: 4vh;

    background: var(--colorDisable);
    border-radius: .1rem ;
    
    margin-bottom: .2rem;

}

.porcentaje{
    display: flex;
    flex-direction: row;
    color: var(--color);
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    
}