:root{
    --backgroundColor:rgb(187, 109, 255);
    
    --backgroundColorHidden:rgba(168, 69, 255, 0.709);
}

.rectangleActive{
    width: 8vw;
    height: 4vh;

    background: var(--backgroundColor);
    border-radius: .1rem ;
    

    margin-bottom: .2rem;
}
.rectangleHidden{
    width: 8vw;
    height: 4vh;

    background: var(--backgroundColorHidden);
    border-radius: .1rem ;
    
    margin-bottom: .2rem;

}

.porcentaje{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    
}

.izquierdo{
   
    background: transparent;
    margin-bottom: 3rem;
    border: 0;
    color:var(--backgroundColorHidden);
  
  }
  
  .izquierdo:hover{
    cursor: pointer;
    
  }

